/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
ul {
  list-style: none;
}
.App {
  margin: 100px auto;
  border: 1px solid #000;
  width: 500px;
}

.App .container {
  margin: 5%;
}
